<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous"
/>

<h1>Card View</h1>
<div class="row" bg-primary>
  <% for(var i=0; i < data.length; i++) { %>
  <div class="col-sm-3 mt-3 ">
    <div class="card text-white bg-info mb-3 border-warning">
      <!-- <img class="card-img-top" src="http://res.cloudinary.com/dnylflyhu/image/upload/v1633893710/tzzmvbock4r1iwun8iuk.jpg" alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title"><%=data[i].fullName%></h5>
        <p class="card-text">EmployeeCode:<%=data[i].employeeCode%></p>
        <p class="card-text">Email:<%=data[i].email%></p>
        <p class="card-text">Department:<%=data[i].department%></p>
        <p class="card-text">Phone:<%=data[i].mobile%></p>
        <!-- const hardcodedurl="http://localhost:9000/user/verify?token="+token -->
        <!-- <a href="/getemployeeprofilebycode?employeeCode=5029" class="btn btn-primary">more detail</a> -->
       
      </div>
    </div>
  </div>
<%}%>
</div>

<!-- <h1>Employee Details</h1>
    <% for(var i=0; i < data.length; i++) { %>
      <div style="width: 30%;">
   
        <h3>Employee<%= i+1 %></h3>
        <label>FullName: <%= data[i].fullName %></label>
        <label>EmployeeCode: <%= data[i].employeeCode %></label>
        <label>Department: <%= data[i].department %></label>
        
    </div>
    
  <%}%> -->
  <h1>Table View</h1>
  <div class="table-responsive-sm">
<table class="table table-bordered table-dark table-active ">
  <thead>
  <tr class="bg-primary">
    <th scope="col">#</th>
    <th scope="col">FullName</th>
    <th scope="col">Email</th>
    <th scope="col">Mobile</th>
    <th scope="col">City</th>
    <th scope="col">Salary</th>
    <th scope="col">EmployeeCode</th>
    <th scope="col">Department</th>
  </tr>
</thead>
  <% for (var i = 0; i < data.length; i++) { %>
    <tbody></tbody>
  <tr class="bg-info">
    <th scope="row"><%= i+1 %></th>
    <td><%= data[i].fullName %></td>
    <td><%= data[i].email %></td>
    <td><%= data[i].mobile %></td>
    <td><%= data[i].city %></td>
    <td><%= data[i].salary %></td>
    <td><%= data[i].employeeCode %></td>
    <td><%= data[i].department %></td>
  </tr>
</tbody>
  <% } %>
</table>
</div>